<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ias Web</title>
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
    <h1>Hello, Truly IAS</h1>
  </body>
</html>
